
@import '../assets/globals.postcss.css';

$icon-size: 8*$PX;

.icon {
  position:     relative;
  width:        $icon-size;
  height:       $icon-size;
  cursor:       pointer;
  fill:         $c-white;
  display:      block;

  & > svg {
    position:   absolute;
    left:       0;
    top:        0;
    width:      100%;
    height:     100%;
    fill:       inherit;
    & > use {
      fill:       inherit;
    }
  }

  &:after {
    content:    '';
    position:   absolute;
    left:       0;
    top:        0;
    right:      0;
    bottom:     0;
    z-index:    1;
  }
}
