@import '../assets/globals.postcss.css';

$pointSize: 6;

.insert-point {
  position:   absolute;
  width:      $pointSize*$PX;
  height:     $pointSize*$PX;
  border-radius: 50%;
  background: $c-orange;
  margin-left: -($pointSize/2)*$PX;
  margin-top:  -($pointSize/2)*$PX;
}
