@import '../assets/globals.postcss.css';

$panel-width: $LEFT_PANEL_WIDTH*$PX;
.left-panel {
  position: absolute;
  right: $panel-width;
  top: 0;
  left: 0;
  width: $panel-width;
  /*height: 100%;*/

  background: $c-purple;
}
