@import '../assets/globals.postcss.css';

$player-height: 40*$PX;

.main-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100*$PX;
  color: white;
  background: $c-purple;

  &--transition {
    transition: height 0.4s;
  }

  [data-component="timeline-handle"] {
    margin-left: $LEFT_PANEL_WIDTH;
    font-size: 1px;
  }
}
