@import '../assets/globals.postcss.css';

/*$padding-left: 5*$PX;*/
.point-line {
  margin-top: 10*$PX;
  @mixin pointLine;
  border-bottom: 1*$PX solid $c-light-purple;

  .label {
    position: absolute;
    left:     0;
    right:    $POINT_LINE_HEIGHT;
  }

  &.is-check {
    .open-toggle {
      &:hover {
        background: rgba(61,12,59,.2);
      }
      &__inner {
        fill: $c-purple;
      }
    }
    .body, .label {
      background: inherit;
    }
  }

  &.is-open {
    .open-toggle__inner {
      transform: rotate(180deg);
    }
    .body {
      display:  block;
    }
  }
}

.label {
  padding-left: 10*$PX;
  background: $c-purple;
  height: $POINT_LINE_HEIGHT - 2;
  &:hover {
    background: $c-light-purple
  }
}

.body {
  padding-left: 5*$PX;
  /*padding-bottom: 1*$PX;*/
  background: $c-light-purple;
  height: auto;
  padding-top: $POINT_LINE_HEIGHT - 2;
  display: none;
}

.open-toggle {
  position:      absolute;
  top:           0;
  right:         0;
  width:         $POINT_LINE_HEIGHT;
  height:        $POINT_LINE_HEIGHT - 2;
  background:    inherit;
  border-left:   1px solid $c-light-purple;
  &__inner {
    position:    absolute;
    width:       100%;
    height:      100%;
    fill:        white;
    transition:  all .15s ease;
  }

  $size: 5*$PX;
  [data-component="icon"] {
    fill:     inherit;
    position: absolute;
    left:     50%;
    top:      50%;
    width:    $size;
    height:   $size;
    margin-top:  -$size/2;
    margin-left: -$size/2;
  }

  &:hover {
    background: $c-light-purple;
  }
}
