@import '../assets/globals.postcss.css';

.points-panel {
  position:       absolute;
  width:          100%;
  top:            20*$PX;
  bottom:         40*$PX;
  z-index:        0;
  overflow:       auto;
  background:     rgba(0,0,0,.1);
}
