@import '../assets/globals.postcss.css';

.point-timeline {
  height:     100%;
  display:    inline-block;
  vertical-align: top;
  position:   relative;
  font-size:  1px;

  $size: 80%;
  &__bar {
    width: 100%;
    height: $size;
    background:     $c-creamy;
    border-radius:  3*$PX;
    position:       relative;
    top:            (100% - $size)/2;
    box-shadow:     2*$PX 3*$PX 0 rgba(0,0,0,.5);
  }

  $size: 6*$PX;
  &__spot {
    width: $size;
    height: $size;
    background: $c-purple;
    position: absolute;
    top: 50%;
    margin-top:  -($size/2);
    margin-left: -($size/2);
    cursor: pointer;
    display: none;

    &--right {
      right: -($size/2);
      display: block;
    }

    &:hover {
      background: $c-light-purple;
      outline: 1px solid $c-orange;
    }

    $size: 300%;
    &:after {
      content: '';
      position:  absolute;
      width:  $size;
      height: $size;
      margin-left: (100% - $size)/2;
      margin-top:  (100% - $size)/2;
    }

    &.is-select {
      background: $c-orange;
    }
  }

  &:first-child {
    .point-timeline__spot {
      display: block;
    }
  }
}
