@import '../assets/globals.postcss.css';

$labelWidth: 25%;
.property-line {
  @mixin pointLine;
  width:       100%;
  cursor: default;

  &__inputs {
    position:     absolute;
    right:        $POINT_LINE_HEIGHT;
    left:         $labelWidth;
  }
}
.label {
  position: absolute;
  left: 0;
  width: $labelWidth;
  padding-left: 10*$PX;
  line-height: $POINT_LINE_HEIGHT - 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input {
  display:      block;
  color:        white;
  background:   transparent;
  border:       none;
  height:       $POINT_LINE_HEIGHT;
  text-align:   center;
  outline:      0;
  font-size:    10*$PX;
  padding-top:  0;
  width:        100%;
  float:        left;
  position:     relative;
  border-left: 1*$PX solid $c-light-purple;

  &::selection {
    background: $c-orange;
    /*color: $c-purple;*/
  }

  & + .input {
    /*&:after {
      content: '';
      position: absolute;
      left: 0;
      height: 50%;
      width: 1*$PX;
      background: yellow;
    }*/
  }

  &[data-width="1/2"] {
    width: calc(100%/2);
    /*&:first-child {
      text-align: right;
      padding-right: 5*$PX;
    }
    &:last-child {
      text-align: left;
      padding-left: 5*$PX;
    }*/
  }
  &[data-width="1/3"] {
    width: calc(100%/3);
  }
  &[data-width="1/4"] {
    width: calc(100%/4);
  }
}

.button {
  position:      absolute;
  top:           0;
  right:         0;
  width:         $POINT_LINE_HEIGHT;
  height:        $POINT_LINE_HEIGHT - 1;
  background:    inherit;
  border-left:   1px solid $c-light-purple;

  &__inner {
    position:    absolute;
    width:       100%;
    height:      100%;
    fill:        white;
    transition:  all .15s ease;
  }

  $size: 5*$PX;
  [data-component="icon"] {
    fill:     inherit;
    position: absolute;
    left:     50%;
    top:      50%;
    width:    $size;
    height:   $size;
    margin-top:  -$size/2;
    margin-left: -$size/2;
  }

  &:hover {
    background: $c-light-purple;
  }

  &.is-spot {
    right: $POINT_LINE_HEIGHT;
  }
}
