@import '../assets/globals.postcss.css';

.property-line {
  @mixin pointLine;
  width:       100%;
}

$width: 20%;
.label {
  position: absolute;
  left: 0;
  width: $width;
  padding-left: 10*$PX;
  line-height: $POINT_LINE_HEIGHT - 1;
}

.input {
  display:      block;
  color:        white;
  background:   transparent;
  border:       none;
  height:       100%;
  position:     absolute;
  right:        $POINT_LINE_HEIGHT;
  width:        (100% - $width);
  /*left:         $width*$PX;*/
  text-align:   center;
  outline:      0;
  font-size:    10*$PX;
  padding-top:  0;
  /*outline: 1px solid cyan;*/
}

.button {
  position:      absolute;
  top:           0;
  right:         0;
  width:         $POINT_LINE_HEIGHT;
  height:        $POINT_LINE_HEIGHT - 1;
  background:    inherit;
  border-left:   1px solid $c-light-purple;

  &__inner {
    position:    absolute;
    width:       100%;
    height:      100%;
    fill:        white;
    transition:  all .15s ease;
  }

  $size: 5*$PX;
  [data-component="icon"] {
    fill:     inherit;
    position: absolute;
    left:     50%;
    top:      50%;
    width:    $size;
    height:   $size;
    margin-top:  -$size/2;
    margin-left: -$size/2;
  }

  &:hover {
    background: $c-light-purple;
  }

  &.is-spot {
    right: $POINT_LINE_HEIGHT;
  }
}
