@import '../assets/globals.postcss.css';

$labelWidth: 25%;
.property-line-add {
  @mixin pointLine;
  width:       100%;
  cursor: default;

  &__inputs {
    position:     absolute;
    right:        $POINT_LINE_HEIGHT;
    left:         0;
  }

  &.is-add {
    .input,
    .button,
    .name-input-wrapper {
      display: block;
    }

    .label {
      display: none;
    }
  }

  &.is-valid {
    .error-label { display: none; }
    .input {
      &--name {
        border: 1*$PX solid transparent;
      }
    }
    .button {
      cursor:   pointer;
      &:hover {
        background: $c-light-purple;
      }
      [data-component="icon"] {
        opacity: 1;
        fill:    $c-green;
      }
    }
  }
}

.name-input-wrapper {
  position:     absolute;
  left:         0;
  width:        85.5%;
  display:      none;
  height:       $POINT_LINE_HEIGHT;
}

.error-label {
  position:       absolute;
  top:            100%;
  left:           50%;
  padding:        2*$PX 4*$PX;
  font-size:      7*$FPX;
  line-height:    1.5;
  letter-spacing: .5*$PX;
  font-weight:    bold;
  margin-top:    -1*$PX;
  background:     $c-orange;
  /*color: $c-purple;*/
  /*background:     $c-purple;*/
  /*color: $c-orange;*/
  /*border: 1*$PX solid $c-orange;*/
  border-bottom-left-radius:  $BRADIUS;
  border-bottom-right-radius: $BRADIUS;
  transform: translateX(-50%);
}

.label {
  position: absolute;
  left: 0;
  width: $labelWidth;
  padding-left: 10*$PX;
  line-height: $POINT_LINE_HEIGHT - 1;
  &:hover {
    cursor: pointer;
    /*background: $c-light-purple;*/
    text-decoration: underline;
  }
}

.input {
  display:      block;
  color:        white;
  background:   transparent;
  border:       none;
  height:       $POINT_LINE_HEIGHT;
  text-align:   center;
  outline:      0;
  font-size:    10*$PX;
  padding-top:  0;
  padding-bottom: 2*$PX;
  position:     absolute;
  border-left: 1*$PX solid $c-light-purple;
  display:     none;

  &::selection {
    background: $c-orange;
  }

  &--name {
    width: 100%;
    border-left: none;
    text-align: left;
    padding-left: 10*$PX;
    border: 1*$PX solid $c-orange;
  }

  &--count {
    right: 0;
    width: $POINT_LINE_HEIGHT;
  }

}

.button {
  position:      absolute;
  top:           0;
  right:         0;
  width:         $POINT_LINE_HEIGHT;
  height:        $POINT_LINE_HEIGHT - 1;
  background:    inherit;
  border-left:   1px solid $c-light-purple;
  display:       none;
  cursor: default;

  &__inner {
    position:    absolute;
    width:       100%;
    height:      100%;
    fill:        white;
    transition:  all .15s ease;
  }

  $size: 7*$PX;
  [data-component="icon"] {
    fill:     inherit;
    position: absolute;
    left:     50%;
    top:      50%;
    width:    $size;
    height:   $size;
    margin-top:  -$size/2;
    margin-left: -$size/2;
    opacity:   .5;
    cursor:   inherit;
  }
}
